@charset "UTF-8";

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/static/DancingScript-SemiBold.ttf') format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

.fundo{
    background-color: #FFF3C7;    
}

/* header{
    position: sticky;
    top: 0;
} */

#burguer{
    display: block;
    background-color: rgb(228, 24, 24);
    color: white;
    text-align: center;
    padding: 10px;
}

#burguer:hover{
    background-color: brown;
}

menu{
    background-color: rgb(228, 24, 24);
    display: none;
    overflow: hidden;
}

menu > ul{
    list-style-type: none;
    display: block;
}

menu > ul > li{
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

menu > ul > li > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 8px;
    border-left: 3px solid white;
}

menu > ul > li > a:hover{
    background-color: brown;
    border-left: 3px solid #f5b3b3;
}

main > img#logo{   
    display: block;
    margin: auto;
    width: 340px;
    padding: 20px 0px;
}

main > div {
    overflow: hidden;
}

main div#mesa{
    background-image:  url('../imagens/mesa-cel.jpg');
}

main > q{
    display: block;
    font-family: 'Dancing Script', cursive;   
}

main div#sobre{
    font-size: 1.4em;
    line-height: 1.3em;
    text-indent: 25px;
    text-align: justify;
}

main div#sobre > p {
    padding: 10px;
}

div#img{
    width: 100%;
    height: 800px;
    background-image: url('../imagens/cozinha-cel.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 30px;
    padding-top: 10px;
    font-style: italic;
}

footer > a{
    color: white;    
}

footer > a:hover{
    transition: .5s;
    text-decoration: none;
    font-weight: bold;
}

/* ------------ Página de Localização ------------ */

#fachada{
    background-image:url('../imagens/fachada-cel.jpg');            
}   

.destaque{
    font-size: 2.3em;
    color: white;
    text-shadow: 0px 0px  8px #521011c4;    
    padding: 30px;        
    background-color: #F2C548;
    text-align: center;
}

.parallax{    
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FFF3C7;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.678);
    width: 100%;
    height: 700px;
}

/* ------------ Página de Contato ------------ */

#contato{
    background-image:url('../imagens/contato-cel.jpg');
}

form{
    text-align: center;
    margin: 5px auto;
    padding: 10px;
    background-color: #f2c5488f;
    border-radius: 8px;
    width: 340px;
}

fieldset{
    border: none;
    border-left: 3px solid #00000080;
    border-right: 3px solid #00000080;

    border-radius: 15px;
}

form span{
    font-size: 50px;
}

textarea{
    resize: none;
    font-size: 1.1em;
}

textarea:focus{
    outline: none;
    background-color: rgb(255, 245, 216);
}

input{
    margin: 7px;
    width: 200px;
    height: 40px;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 5px;
    font-size: 1.1em;
}

.largura{
    width: 114px;
}

input:focus{
    outline: none;
    background-color: rgb(255, 245, 216);
}