@charset "UTF-8";

@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/static/DancingScript-SemiBold.ttf') format('truetype');
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

#burguer{
    display: block;
    background-color: rgb(228, 24, 24);
    color: white;
    text-align: center;
    padding: 10px;
}

#burguer:hover{
    background-color: brown;
}

menu{
    background-color: rgb(228, 24, 24);
    display: none;
    overflow: hidden;
}

menu > ul{
    list-style-type: none;
    display: block;
}

menu > ul > li{
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
}

menu > ul > li > a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.3em;
    padding: 8px;
    border-left: 3px solid white;
}

menu > ul > li > a:hover{
    background-color: brown;
    border-left: 3px solid #f5b3b3;
}

main > div.container{
    background-color: #FFF3C7;
    text-align: center;
    overflow: hidden;
}

main > img#logo{
    display: block;     
}

main > div {
    overflow: hidden;
}

main > div#mesa{
    background: #FFF3C7 url('../imagens/mesa-cel.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.678);
    width: 100%;
    height: 700px;
}

main > #slogan{
    display: block;
    font-family: 'Dancing Script', cursive;
    font-size: 2.3em;
    color: white;
    text-shadow: 0px 0px  8px #521011c4;    
    padding: 30px;        
    background-color: #F2C548;
    text-align: center;
}

p {
    font-size: 1.4em;
    line-height: 1.3em;
    text-indent: 25px;
    text-align: justify;
    padding: 10px;
}

p#sobre{
    background-color: #FFF3C7;
    
}